{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to ecommerce site</p>
        </div>
    </div>
</header>

<div class = "container">
    <div class="rows">
        <center>
            <div class="col-9">
                <p align="justify">
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Quam praesent tortor cubilia curae accumsan. Volutpat potenti ante himenaeos massa venenatis potenti sagittis. Orci quisque ridiculus mattis mauris nam ante vehicula! Viverra mi enim sed sapien proin lectus integer. Himenaeos nostra aliquet pellentesque semper nam. Sed gravida quis class neque eros cursus vestibulum et. Velit tempus ac ipsum vestibulum at dis.
Rhoncus non himenaeos varius tellus nisl posuere. Mus varius proin tincidunt laoreet sodales senectus hendrerit conubia ante. Ridiculus ridiculus varius vivamus tincidunt molestie lectus tincidunt turpis. Dis quis orci massa ligula elementum; curabitur a. Eget fringilla consequat primis per ac nibh luctus porta. Dapibus sollicitudin odio; eu ut accumsan finibus. Et nisi ut maximus duis nam congue. Ridiculus donec morbi morbi sociosqu rutrum.
Suspendisse eros habitasse himenaeos; duis sapien hendrerit id. Class consequat sem urna condimentum ullamcorper feugiat lobortis pharetra. Bibendum massa class erat quisque montes; eleifend consequat dignissim. Non amet taciti quis habitant nam habitasse potenti conubia. Ac malesuada fusce mollis mauris finibus, dignissim magna tempor montes. Adipiscing vel consequat quam torquent a hac pharetra vehicula. Interdum gravida platea scelerisque ut, pretium nullam. Est auctor erat egestas laoreet egestas sit duis vulputate conubia. Hac risus urna laoreet tempus facilisi fusce per. Vestibulum metus facilisi dui accumsan malesuada, hac suspendisse ullamcorper.<br>
Praesent phasellus ex ut lectus auctor fringilla. Varius diam felis non mus, quisque hac eget. Ornare posuere interdum natoque tristique eget tristique. Magna at blandit mauris per nostra id. Lacus justo gravida malesuada nam tristique placerat fusce. Tristique sed enim porta nulla arcu augue. Ligula nostra porta netus libero neque inceptos justo malesuada magnis. Volutpat condimentum enim suspendisse mus natoque cras consequat. Aliquet euismod massa odio; curabitur lobortis parturient.
Natoque pulvinar suspendisse nunc phasellus felis. Varius felis class et ac velit sollicitudin. Urna at tortor varius; odio ultrices nam. Donec erat ullamcorper justo gravida maximus purus habitasse natoque. Pharetra suspendisse quam quam inceptos ante auctor phasellus porttitor. Dictum risus torquent mus duis facilisi hendrerit id. Aenean potenti consequat aptent inceptos etiam ullamcorper ornare pretium. Ac parturient facilisis amet primis parturient sed dui diam ut. Pulvinar sit finibus eu hac scelerisque et sit dis.
                </p>
            </div>

        </center>
    </div>
</div>

{% endblock %}
